---
layout: interior
title: Contact Us
page-title: Contact Us
active: link6
sidebar: false
main_size: 12
---


<br>
<div class="row">
  <div class="center">
    Vineland-Huntsville Mutual Insurance Company<br>
    <span>PO Box 29 Climax, MN 56523<br>
    <strong>Phone:</strong> 218-857-2328<br>
    <strong>Fax:</strong> (218) 857-2022
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
      <div class="center">
        <strong>Staff</strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <br>
    <div class="col-xs-offset-1 col-sm-4">
      <img src="{{ site.baseurl }}/img/kelly_work.jpg" width="50%"><br>
      Kelly Halvorson, PFMM<br>
      Manager<br>
      <a href="mailto:kellyv-h@rrv.net">kellyv-h@rrv.net</a>
    </div>
    <div class="col-sm-4">
      <img src="{{ site.baseurl }}/img/steph_work.jpg" width="50%"><br>
      Stephanie Egeland<br>
      Billing Coordinator<br>
      <a href="mailto:v-hmutual@rrv.net">v-hmutual@rrv.net</a>
    </div>
    <div class="col-sm-3">
      <img src="{{ site.baseurl }}/img/kathy_work.jpg" width="50%"><br>
      Kathy Quirk<br>
      Field Underwriter<br>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="center">
    <strong>Board of Directors</strong>
  </div>

  <div class="col-sm-offset-3 col-sm-4">
    <div> Lowell Hamrick, President </div>
    <div> Maynard Gulbranson, Vice President </div>
    <div> Kelly Halvorson, Secretary </div>
    <div> Richard Evenson, Treasurer </div>
  </div>
  <div class="col-sm-4">
    <div> Bonnie Isaacson, Director </div>
    <div> Jack Gregoire, Director </div>
    <div> Allan Moe, Director </div>
  </div>
</div>
<br>
