---
layout: interior
title: Agents
page-title: Agents
active: link2
sidebar: false
main_size: 12
---

<div class="content-body" ng-app="myApp" ng-controller="AgencyController">
    <div class="pull-right">
        <input type="text" ng-model="search.name" name="Search" placeholder="Search" />
    </div>
    <h1 class="page-title">Find an Agent</h1>

    <div ng-repeat="agency in agencies | orderBy:'name' | filter:search" ng-cloak class="ng-cloak">
        <div class="agency-detail col-sm-4" style="min-height:200px;">
            <h4>{[{ agency.name }]}</h4>
            <address>
                <span ng-hide="!agency.address">{[{ agency.address }]}<br /></span>
                <span ng-hide="!agency.phone">Phone: {[{ agency.phone }]}<br /></span>
            </address>
        </div>
    </div>

    <h3 ng-hide="!search|| agencies | filter:search">
    	No Results - Please search again
    </h3>

</div>
<br>

<script src="{{ site.baseurl }}js/angular.min.js" type="application/javascript"></script>
<script type="application/javascript">

    var myApp = angular.module('myApp', []);
    myApp.config([
        '$interpolateProvider', function($interpolateProvider) {
            return $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        }
    ]);

    function AgencyController($scope, $http) {
        $http.get('{{ site.baseurl }}data/agencies.json').success(function(data) {
            $scope.agencies = data;
        });
    }
    AgencyController.$inject = ['$scope', '$http'];
</script>
