---
layout: exterior
title: Vineland-Huntsville Mutual Insurance
---
<div class="intro_wrap">
    <div class="container">
        <div class="row banner">
            <div class="col-md-8">
                <img src="{{ site.baseurl }}img/{{ site.data.index_data.title_banner }}" alt="{{ site.data.index_data.title_banner_alt }}" style="width:100%;"> </div>
            <div class="col-md-4">
                <h1>{{ site.data.index_data.title_header1 }}</h1>
                <p>{{ site.data.index_data.paragraph1 }}</p>
            </div>
        </div><!--end of row banner-->
    </div><!--end of container-->
</div><!--end of intro wrap-->

<div class="container">
    <div class="row intro">
        <div class="col-md-6">
            <h2></h2>
            <p></p>

        </div>
        <div class="col-md-6">
            <h2></h2>
            <p></p>

        </div>
    </div><!--end of row intro-->
</div><!--end of conatiner-->
