---
layout: interior
title: Links
page-title: Links
active: link8
sidebar: false
main_size: 12
---

<br>
<div class="row">
  <div class="col-md-offset-3 col-md-8">
    <img class="combining-beans" src="{{site.baseurl}}/img/combining_beans.jpg" width="70%">
  </div>
</div>

<h1>{{ page.page-title }}</h1>
<div class="col-md-6 links">
  <div class="col-sm-6">
    <a target="_blank" href="http://www.mafmic.org/">MAFMIC</a>
  </div>
  <div class="col-sm-6">
    <a target="_blank" href="http://www.nstarco.com/nsmic/default.aspx">Northstar Mutual</a>
  </div>
</div>
<div class="col-md-6 links">
  <div class="col-sm-6">
    <a target="_blank" href="http://rammutual.com/">Ram Mutual</a>
  </div>
  <div class="col-sm-6">
    <a target="_blank" href="https://www.google.com/url?sa=D&oi=plus&q=https://www.google.com/maps/place/Border%2BArea%2BAdjustment%2BInc/data%3D!4m2!3m1!1s0x52c680dd467f4111:0xdd84c684fb8d463f?gl%3DUS%26hl%3Den">
      Border Area Adjustment Inc
    </a>
    <br>
    (701) 746-4424
  </div>
</div>
