@charset "utf-8";

/* CSS Document */
@import "../bootstrap/bootstrap";

@white: #fff;
@black: #000;
@accent-color-one: #000000;

@link-color: #428bca;

@navbar-color: #eeeded;
@body-bg-color: #efefee;
@footer-color: #efefee;

@nav-pills-link-color: #000000;
@nav-pills-background-color: #eeeded;
@nav-pills-active-link-color: @white;
@nav-pills-background-active-color: @accent-color-one;
@nav-pills-border-color: #fff;

/**--------Default Styles----------**/
body {
  background-color:@body-bg-color;
  font-size:14px;
}

.page-container {background-color:@white;}

.row.head {
  margin-bottom:10px;
  padding:15px 0 0px 0;
  position:relative;
}


.mobile-nav {
  .container;
  .visible-xs;
}
.desktop-nav {
  .make-sm-column(12);
  .hidden-xs;
}


/*top navigation styles----------------------*/
.topnav {
  float: left;
  margin: 25px 0 5px 0;
}

.topnav nav a {
  border: 1px solid @nav-pills-border-color;
  margin-right: 10px;
  background-color:@nav-pills-background-color;
  color: @nav-pills-link-color;
}

.company-name {
  vertical-align: bottom;
  margin-left: 20px;
  font-size: 1.5em;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 7px;
}

.topnav li.active a, .topnav li.active a:hover {
  background-color: @nav-pills-background-active-color;
}
.topnav li a:hover {
  background-color: @nav-pills-background-active-color;
  color:@nav-pills-active-link-color;
}



.navbar-toggle.menu { background-color:@accent-color-one; padding: 6px 12px; color:#fff; font-weight:bold;}
.navbar-header {background-color:#eeeded;}
ul.nav.navbar-nav {/*background-color:pink;*/ margin-top:0;}
ul.nav.navbar-nav li {border-bottom:1px solid #eeeded;}

.tertiary { position:absolute; right:20px; top:35px; padding:0px 10px; font-weight:bold; font-size:1.2em; width:300px;text-align:center;}
.tertiary a {text-decoration:underline;}



.intro_wrap {background-color:@accent-color-one;}
.row.banner {padding:10px 0; color:#fff; font-size:1.2em;}
.row.banner img {border:1px solid #fff;}

.row.interior_content h1 { color:black;}
.row.interior_content .features { padding-bottom:20px;}

.border_left{ border-left:1px solid @accent-color-one;}

h1 {font-size:1.3em;font-weight:bold; color:#fff; line-height:1.3em;}
h2 { font-size:1.2em; font-weight:bold; color:@accent-color-one;}

.footer-wrap {border-top:1px solid @accent-color-one; padding:15px 0; background-color:@footer-color;}
.row.footer { }
.row.footer p { margin-bottom:3px;}
.row.footer span {padding:0px 3px; white-space:nowrap;}
.footer-container {
  &:extend(.container all);
  background-color:transparent;
}
.footer-content {
  .make-sm-column(10);
}

.footer-social {
  .make-sm-column(2);
  text-align:left;
  padding-top:15px;
}

.interior_photo {width:30%;}
.interior_photo img {border:1px solid @accent-color-one;}
.interior_photo.right {float:right; margin:0 10px 30px 30px;  padding-top:60px;}
.interior_photo.left {float:left; margin:0 15px 15px 0px; padding-top:25px;}
.rounded {border-radius:4px;}


.feature {padding-bottom:10px;}
.feature h3 {font-size:1.1em; font-weight:bold; color:gray; margin-bottom:5px;}

.contact-card {
  margin-bottom: 10px;
}

@media (max-width: 979px) {}


/**--------Large Display----------**/
@media (min-width: 1200px) {}


/**--------Portrait Tablet----------**/
@media (min-width: 768px) and (max-width: 979px) {}

/**--------Tablet and up----------**/
@media (min-width: @screen-sm-min) {
  .features {
    margin-top: 0;
    padding-top: 0;
  }
  .footer-social {
    text-align:right;
  }
  .logo {float: left;}
}

/**----------Large Phones-------------**/
@media (max-width: 767px) {
  .logo {}
  ul.nav.navbar-nav a:hover {background-color:@accent-color-one; color:#fff;}
  ul.nav.navbar-nav li.active a {background-color:@accent-color-one; color:#fff;}
  .tertiary { display:none;}

  .social { text-align:left; padding-top:15px;}

  .row.interior_content .border_left.features { padding-bottom:20px; border-left:none; border-top:1px solid @accent-color-one; margin-top:20px; }


}


/**--------Small Phones----------**/
@media (max-width: 480px) {
  .logo { float:none; width:100%; margin-bottom:10px;}
  .navbar-brand { font-size:1.2em;}
  .row.banner img {display:none;}
  .row.head {margin-bottom:0; padding:15px 0 0 0;}


}

.links {
    padding-bottom: 20px;
}

.center {
    text-align: center;
}
