<div class="feature">
	<h3>Need Directions?</h3>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2983.658309711816!2d-93.7628204464834!3d41.59827417640664!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbc0e6c84692b52e2!2sThe+IMT+Group+-+IMT+Insurance+%26+Wadena+Insurance!5e0!3m2!1sen!2sus!4v1400076171431" width="95%"  frameborder="0" style="border:0"></iframe>
</div>