<div class="footer-wrap">
    <div class="container">
        <div class="row footer">
            <div class="footer-content">
                <p><span>&copy; <script language="javascript" type="text/javascript">document.write(new Date().getFullYear())</script>
                    {{ site.data.contact.company_name }}</span>
                    <span>{{ site.data.contact.company_address_one }}</span>
                    <span>{{ site.data.contact.company_address_two }}</span> <br></p>

                    <p><span><a href="tel:{{ site.data.contact.phone }}">Phone: {{ site.data.contact.phone }}</a></span>
                    {% if site.data.contact.fax %}
                    <span>Fax: (218) 857-2022</span>
                    {% endif %}
                </p>
            </div>
        </div><!--end of row footer-->
    </div><!--end of container-->
</div><!--end of footer_wrap-->
