<div class="mobile-nav">
    <div class="navbar-header">
        <button class="navbar-toggle menu" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            Menu
        </button>
        <a href="#" class="navbar-brand">{{ site.data.contact.company_name }}</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
            {% for link in site.data.navbar_elements %}
        <li {% if page.active == link.name %}class="active"{% endif %}><a href="{{ link.link }}">{{link.text}}</a></li>
      {% endfor %}

        </ul>
    </nav>
</div><!--end of mobile nav-->

<div class="container">
    <div class="row head">
        <div class="col-md-12">
            <div class="tertiary">{{ site.tag_line }}</div>
            <div class="logo"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}img/VH2 (1).jpg" alt="Company Name"></a><span class='company-name'>{{ site.name }}</span><!--end of logo--></div>
        </div>

        <div class="desktop-nav">
            <div class="topnav">
                <nav>
                    <ul class="nav nav-pills">
                        {% for link in site.data.navbar_elements %}
                        <li class="{% if page.active == link.name %}active{% endif %} {% if link.external %}external_link{% endif %}">
                        <a {% if link.external %}target="_blank"{% endif %} href="{% unless link.external %}{{ site.baseurl }}{% endunless %}{{ link.link }}">{{link.text}}</a>
                          </li>
                        {% endfor %}

                    </ul>
                </nav>
            </div><!--end of topnav-->
        </div><!--end of col-md-12-->
    </div><!--end of row-->
</div>
