<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

<div class="page-container home">
    {% include navbar.html %}
	<div class="intro_wrap">
    <div class="container">
        <div class="row banner"></div>
    </div><!--end of container-->
</div><!--end of intro wrap-->

<div class="container">
    <div class="row interior_content">
		<div class="col-sm-{{ page.main_size }}">
			{{ content }}
		</div>
		{% if page.sidebar %}
        <div class="col-sm-3 border_left features">
            {% include agency_locator.html %}

            {% include social.html %}

            {% include directions.html %}

            {% include hours.html %}
        </div>
        {% endif %}
    </div><!--end of row intro-->
</div><!--end of conatiner-->
 
</div><!--end of page_container-->
{% include footer.html %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site.baseurl }}js/bootstrap.min.js"></script>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44808510-6', 'auto');
  ga('send', 'pageview');

</script>
</html>

